/*DARK BLUE: 01579b*/
/*LIGHT BLUE: 0277bd*/

.head-search {
  margin: 0px !important;
}

.t3-footnav {
  padding-top: 5px !important;
}

.navbar-header {
  width: 10px !important;
  /*height: 33px !important; This was messing up the navbar. Don't know why I put it here. */
}

.t3-footnav .module-title {
  padding-bottom: 10px !important;
}

.article-title,
.article-header, h1, h2 {
  color: #01579b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*@font-face {
  font-family: RobotoTTF;
  src: url(../fonts/Roboto-Regular.ttf);
}*/

body {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.module {
  /*margin-bottom: 40px !important;*/
}

.carousel {
  padding: 0px !important;
}

/*.t3-sl {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}*/

#Mod101, #Mod109, #Mod110, #Mod163, #Mod164,
#Mod130, #Mod132, #Mod133, #Mod135  {
  visibility: hidden !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  box-shadow: none !important;

}

.mod-download-icon {
  text-align: center !important;

}

.t3-module {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.3),
    0px 6px 6px rgba(0,0,0,0.2);
}


/* TENANT LOGIN */
#Mod16, #Mod158 {
    /*box-shadow: 0px 6px 12px #666666;  */
    padding-bottom: 10px !important;
    /*background-color: #ffffff;*/
}

#Mod129, #Mod160 {
    /*box-shadow: 0px 6px 12px #666666;  */
    padding-bottom: 10px !important;
    /*background-color: #ffffff;*/
}

#Mod91 {
   /*box-shadow: 0px 6px 12px #666666;  */
    /*padding-bottom: 10px !important;*/
    /*background-color: #ffffff; */

}
/*Quick Downloads*/
#Mod103, #Mod167, #Mod168, #Mod169, #Mod170 {
  /*background-color: #ffffff;*/
  padding-bottom: 10px !important;
  /*margin: 0px !important;*/
  /*box-shadow: 0px 6px 12px #666666;  */
}
#Mod128 {
  /*background-color: #ffffff;*/
  padding-bottom: 10px !important;
  /*margin: 0px !important;*/
  /*box-shadow: 0px 6px 12px #666666;  */
}

/*News Categoories*/
#Mod107 {
  /*background-color: #ffffff;*/
  /*box-shadow: 0px 6px 12px #666666;  */
}

#Mod107 .module-inner .module-ct {
  padding-left: 10px !important;

}

#Mod112 {
  /*background-color: #ffffff;*/
  padding-bottom: 10px !important;
  /*box-shadow: 0px 6px 12px #666666;  */
}

#Mod113 {
  /*background-color: #ffffff;*/
  padding-bottom: 10px !important;
  /*box-shadow: 0px 6px 12px #666666;  */
}

/*Downloads*/
#Mod103 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}
/*Downloads Arabic*/
#Mod128 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}

/*News Categories*/
#Mod107 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}

/*Login*/
#Mod16, #Mod158 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}

/*Login Arabic*/
#Mod129, #Mod160 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}

/*User Menu*/
#Mod91 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}

/*Incubator application files*/
#Mod112 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}

/*Business application files*/
#Mod113 .module-inner .module-title {
  /*text-align: center !important;*/
  /*padding-top: 8px !important;*/
  /*padding-bottom: 8px !important;*/
  /*margin-bottom: 0px !important;*/
  /*background-color: #0C76BB;*/
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*color: #ffffff;*/
}

.module-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px !important;
  font-weight: 300;
  color: rgba(0,0,0, 0.9);
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 16px !important;
  margin-bottom: 16px !important;
  /*color: #01579b;*/
  background-color: #fff;
  /*border-bottom: 1px solid #01579b;*/
  /*border-bottom: 1px solid rgba(0,0,0, 0.1);*/
}

#Mod136 > div > h3,
#Mod137 > div > h3  {
  color: #01579b !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 28px;
}
#Mod136 > div > div > div > div > p:nth-child(2) {
  padding: 12px;
  text-align: left !important;
}

#Mod137 > div > div > div > div > p:nth-child(2) {
  padding: 12px;
  text-align: right !important;
}

#Mod103 > div > div > div > div,
#Mod167 > div > div > div > div, 
#Mod168 > div > div > div > div,
#Mod169 > div > div > div > div,
#Mod170 > div > div > div > div,
#Mod128 > div > div > div > div {
  padding-bottom: 14px;
}

#Mod167 > div > div > div > ul, 
#Mod168 > div > div > div > ul {
  padding-left: 15px;
}

#Mod169 > div > div > div > ul,
#Mod170 > div > div > div > ul {
  padding-right: 15px;
}

.downloads-module-icon {
  text-align: center;
}

#Mod112 .module-inner .module-ct {
  padding-top: 10px !important;
}

#Mod113 .module-inner .module-ct {
  padding-top: 10px !important;
}

#Mod16, #Mod158 .module-inner .module-ct {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 0px !important;
  background-color: #ffffff;
}

#Mod129, #Mod160 .module-inner .module-ct {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  background-color: #ffffff;
}

.ef-label {
  /*color: #0C76BB !important;*/
  font-weight: bold;
}

h2 {
  color: #0C76BB !important;

}

.mod_docman {
  
}

.t3-copyright {
  padding-bottom: 30px !important;
}

.mysitemap {
  /*width: 60%;*/
  /*float: left;*/
}

.mysitemap-entry {
  padding-right: 15px;
}

.mycopyright {
  text-align: right;
  /*float: right;*/
  padding-top: 35px;
  vertical-align: bottom;
}

.myfooter {
  padding: 20px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*megamenu whitespace fix*/
.mega-col-module {
  padding: 0px !important;
}

.mega-inner {
  padding: 0px !important;
  text-align: center;
}

.mega-dropdown-menu {
  padding: 0px !important;
  border: 0px !important;
}

/*remove grey box from account settings submit area*/
.form-actions {
  background-color: #fff;
}

/*move navbar toggle to left*/
.navbar-toggle {
  float: left;
}

@media (min-width: 768px) {
  .mynavlabel {
    visibility: hidden !important;
  }
}

.mynavlabel {
  padding-top: 13px !important;
  margin: 0px !important;
  color: #777777;
  
}

.t3-sl-2 {
  padding-top: 0px;
}

.t3-wrapper {
  background-image: url('/bbic/joomla/images/silverwood4.jpg');
}

.t3-content {
    background-color: #ffffff;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.3),
    0px 6px 6px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    /*padding-right: 0px !important;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.t3-sidebar {
  padding-top: 0px !important;
}

.myheaderdiv {
  width: 100%;
  background-color: #fff;
  /*background-image: url('/bbic/joomla/images/brushed.png') !important;*/
}

.t3-header {
  padding-top: 6px !important;
  padding-bottom: 4px !important;
  /*background-color: #aaa !important;*/
  /*margin: 0px !important;*/
  /*border-right: auto !important;*/
  /*border-left: auto !important;*/
  /*width: 100%;*/
}


.logo {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  display: inline-block;
  vertical-align: bottom !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.logo-img {
  padding-left: 0px !important;
  padding-right: 0px !important;  
}

@media (max-width: 1200px) {
  .logo {
    margin-top: 40px !important;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .logo {
    /*margin-top: 40px !important;*/
  }
}
@media (max-width: 768px) {
  .logo {
    /*margin-top: 10px !important;*/
  }
}

.featureCarousel {
    margin: auto;
    width: 660px !important;

}

body > div > div.container.t3-sl.t3-sl-2 > div > 
div.col-lg-9.col-md-9.col-sm-8.col-xs-12 {
  padding: 0px !important;
}

.t3-footer {
  background-color: transparent !important;
  border: 0px !important;
}
#Mod105 {
  background-color: transparent !important;
}

#Mod134 {
  background-color: transparent !important;
}

/*NAVBAR COLORS*/
/*navbar margin shouldny on bottom put in mainbody top */
#t3-mainbody {
  margin-top: 50px;
}

.navbar {
  border: 0px !important;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png');*/
}

.navbar-default {
  border-color: #01579b;
}

.navbar-collapse {
  max-height: 420px;
}

.usernav {
  border: 0px !important;
  background-color: #ffffff;
  
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.usernav .navbar-nav > li > a {
  color: #0277bd;
  font-size: 13px;
  /*padding-left: 7px;
  padding-right: 7px;*/
}

/*Navbar Resizing*/
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  .logo {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .t3-mainbody {
    padding-top: 0px;
    margin-top: 0px !important;
    padding-bottom: 0px;
  }
  .t3-content {
    /*width: 80% !important;*/
    /*margin-left: 15px !important;
    margin-right: 15px !important;*/
  }
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  /*background-image: url('/bbic/joomla/images/navbarnoise-dark1.png') !important;*/
  /*background-color: #ffffff;*/
}

.usernav .navbar-nav > li > a:hover,
.usernav .navbar-nav > li > a:focus {
  color: #039be5;
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  background-color: #ffffff;
}

/*.usernav .navbar-nav > li > a:active {
  color: #fff;
}*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  /*background-image: url('/bbic/joomla/images/navbarnoise-dark.png') !important;*/
  background-color: #0277bd;
}

.usernav .navbar-nav > .active > a,
.usernav .navbar-nav > .active > a:hover,
.usernav .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #01579b;
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
  /*background-color: #ffffff;*/
}

.navbar-default .navbar-nav > .open > a {
  color: #fff;
  /*background-image: url('/bbic/joomla/images/navbarnoise1.png') !important;*/
}

.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  /*background-image: url('/bbic/joomla/images/navbarnoise-dark1.png') !important;*/
}

.nav > .open > a:focus {
  color: #fff;
  /*background-image: url('/bbic/joomla/images/navbarnoise-dark1.png') !important; */
}

.navbar > div > div.navbar-header > button {
  width: 160px !important;
  color: white ;
}

.usernav > div > div.navbar-header > button {
  color: #01579b;
}

.usernav > div > div.navbar-header > button:focus,
.usernav > div > div.navbar-header > button:hover {
  color: #fff;
}

.usernav > div > div.navbar-header > button > i {
  color: inherit !important;
}

#navbar > div > div.navbar-header > button > i {
  color: #fff;
}

/*#t3-mainnav > div > div.navbar-header > button > i:hover {
  color: #075d93 !important;
}*/

/*Dark Blue*/
/*#t3-mainnav > div > div.navbar-header > button:hover {
  color: #ffffff;
  background-color: #00608F !important;
} */

/*Light Blue*/
/*#t3-mainnav > div > div.navbar-header > button:focus {
  color: #fff;
  background-color: #0C76BB !important;
}*/


.t3-copyright .myspacer {
  border: 0px;
  /*background: #666;*/
  /*background-image: url('../../../images/footer-background.png') !important;*/
  background-image: url('../../../images/copyrightnoise.png') !important;
  /*background-color: #4f4f4f;*/
  box-shadow: 0px -4px 6px rgba(0,0,0,0.2);
}

.t3-copyright a {
  color: #fff;
  text-decoration: none;
}
.t3-copyright a:hover,
.t3-copyright a:focus {
  color: #23a4f6;
  text-decoration: underline;
}

#t3-footer > section > div > div:nth-child(2) > div > div.col-md-3.mycopyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px !important;
  font-weight: 300;
  color: rgba(255,255,255, 0.9);
}

/*#t3-footer > section > div > div > div > div.col-md-9.mysitemap > p,
#t3-footer > section > div > div > div > div.col-md-3.mycopyright {
  color: #fff !important;
  font-weight: bold;
}*/


/*
#Mod91 > div > div > ul > li .current .active {
   background-color: #e2e2e2 !important;
}

#Mod91 > div > div > ul > li.current {
    background-color: #e2e2e2 !important;
}

#Mod91 > div > div > ul > li.item-112 {

}*/

/*User Menu Customization*/
#Mod91 > div > div > ul > li > a {
  padding-left: 10px;
}

#Mod91 > div > div > ul > li {
  margin: 0px !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #0c76bb !important;
  background-color: #e2e2e2 !important;
}

/*table row colors fix */
.cat-list-row1,
tr.cat-list-row1 td {
  background: #fff;
}

.cat-list-row0,
tr.cat-list-row0 td {
  background: #f7f7f7;
}

.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f1f1f1 !important;
}

.TableFilterSelect {
  height: 25px;
  font-size: 12px !important;
  font-weight: normal !important;
  padding: 0px;
}

th {
  padding-right: 2px !important;
  padding-left: 4px !important;
  vertical-align: top !important;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0277bd;
}

/*Search and Language */
/*.search {
  float: right;
}
*/
.languageswitcherload {
  /*float:right;*/
  width: auto;
  padding-top: 15px;
  display: inline;
  text-align: right;
}

.languageswitcherload {
  float: right;
}

.languageswitcherload > div > ul > li > a > img  {
  margin-bottom: 5px;
  
}

.languageswitcherload > a {
  padding-bottom: 5px;
}

.languageswitcherload .mod-languages {
  text-align: right;
}

#mod-search-searchword {
  width: auto;
}

.breadcrumbs {
  /*width: auto;*/
  float: right;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 10px;
  display: inline;

}

.langsearch {
  display: inline-block;
  float: right;
  height: 50px;
}

.langsearch-row {
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  margin-bottom: 20px !important;
  width: 100%;
  margin: 0;
}


#t3-header {
  padding-bottom: 20px !important;
}

body > div > div.myheaderdiv > div > div > div > div.languageswitcherload > div > ul > li > a > img {
  box-shadow: 1px 1px 3px #595959;
}

#mod-search-searchword {
  display: inline-block;
}

div.st_tabs > div > ul {
  margin-left: 0px !important;
  width: 100% !important;
}

#jform_attribs_companyprofile_block-lbl.invalid:after {
  content: " (must be numerical)";
}

#jform_attribs_companyprofile_pobox-lbl.invalid:after {
  content: " (must be numerical)";
}

#jform_attribs_companyprofile_tel-lbl.invalid:after {
  content: " (must be numerical)";
}

#jform_attribs_billing_amount-lbl.invalid:after {
  content: " (must be numerical)";
}

#jform_attribs_billing_repeatcycle-lbl.invalid:after {
  content: " (must be numerical)";
}

#jform_attribs_service_price-lbl.invalid:after {
  content: " (must be numerical)";
}

.btn-primary {
  color: #ffffff;
  background-color: #01579b;
  border-color: #01579b;
  border-radius: 2px !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0277bd;
  border-color: #0277bd;
}

/* PARTNERS */

.mypartners {
  color: #fff !important;
}

.mypartners-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px !important;
  font-weight: 300;
  color: rgba(255,255,255, 0.9);
}

.partners-div {
  padding-bottom: 30px;
  /*background-color: #eee;*/
  /*background-color: #fff;*/
}

.partners-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px !important;
  font-weight: 300;
  color: rgba(0,0,0, 0.9);
  margin-bottom: 20px;
  padding-top: 12px;
}

.partners-images-div {
  padding-top: 6px;
  padding-bottom: 6px;
}

.partners-images {
  text-align: center;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}

.myspacer {
  height: 140px !important;
}

/*NAVBAR EXPERIMENTING*/
/*.navbar-collapse.collapse {
  height: 50px !important;
}
*/

#adminForm > fieldset > div:nth-child(1) {
  margin: 0px;
}


/* csv file upload module */
.sfu_table {
  line-height: 22px !important;
}

#Mod138 > div > div {
  padding: 10px;

}

#Mod108 {
    padding-bottom: 60px;
}

#txtUploadFile138 {
  left: 0px !important;

}


.csv-upload-button {
  /*max-width: 94px;*/
  padding: 8px !important;
  border: 0px outset buttonface;
}

/*-------NEWS LIST MODULE-----*/

.news-list-module {
  padding-left: 0px;
  padding-right: 0px;
    
}

/* Enable for scrollbar style 
.news-list-module {
  overflow-y: auto;
  height: 700px;
}*/
.twoj_tab_content {
}



.twoj_tab_block_li {
  width: 24%;
  text-align: center;
  background: #f9f9f9;

}

.news-list-content {
  display: inline-block;
}
.news-list-image {
  float: left;
  width: 30%;
}

.news-list-text {
  float: right;
  width: 70%;
  padding: 0px 30px 0px 20px;
  text-align: justify;
  /*margin-top: 4px;*/
}

.news-list-content-ar {
  display: inline-block;
}
.news-list-image-ar {
  float: right;
  width: 30%;
}
.news-list-text-ar {
  float: left;
  width: 70%;
  padding: 0px 20px 0px 30px;
  /*margin-top: 4px;*/
}

.news-list-title {
  font-size: 18px;
}
.news-list-img {
  width: 100%;
}

#Mod145, #Mod151, 
#Mod152, #Mod153,
#Mod154, #Mod155,
#Mod156, #Mod157 {
  visibility: hidden;
  display: none;
}

.twoj_tabs_class4 > .twoj_tab_block_ul .twoj_tab_block_li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #777;
}

.categories-module li, ul.categories-module li, .category-module li, ul.category-module li {
  border: 0px;
}


/* XPERTMOD GALLERY FOR TENANTS */
#Mod149, #Mod158, #Mod171,
#Mod159, #Mod160 {
  margin-top: 70px;
  
}

.tx-gallery {
  /*max-width: 728px !important;*/
  width: 100%;
  margin: 0px !important;
  padding: 0px 10px 20px 10px;
}

/*.tx-gallery-image {
  text-align: ceter !important;
}*/

.tx-gallery-title {
  padding: 0px !important;
}

.tx-gallery-container {
  
}

.tx-gallery-item {
  text-align: center;
  padding: 5px 0 5px 0;
  background: #f7f7f7;
  border-radius: 4px;
  border: 1px solid #e3e3e3;

}

/*#Mod149 {
  display: none;
}*/

.tenant-no-component {
  display: none;
  height: 0px;
  padding: 0px;
}

.tx-tenants-header {
  padding: 15px;
}

/* LOGIN MODULE */
.inline-control-group {
  display: inline !important;
  white-space: nowrap;

}
#form-login-remember {
  margin-bottom: 0px;
  top: 10px !important;
  padding-left: 10px;
}

#mod-login-remember-label {
  padding: 0px;
  vertical-align: bottom;
}

#modlgn-remember {
  vertical-align: bottom;
  margin-bottom: 4px !important;
}

/* CATEGORIES VIEW (INCUBATION) */
.categories-item-header {
  font-size: 24px !important;
  font-weight: 300;
}

/*jump list for apply category blog*/
.apply-jump-list {
  padding: 20px 0 40px 0;
  
}

.apply-jump-list ul {
  list-style-type: none;
  padding-left: 0px;
}

.apply-jump-list ul li {
  display: inline;
}

.apply-jump-list ul li a {
  text-decoration: none;
  color: #fff;
  background-color: #01579b; 
  padding: 5px;
  border-radius: 4px;
}

.apply-jump-list ul li a:hover {
 background-color: #0277bd; 
}

.force-no-margin {
  margin: 0px !important;
}

ul.mod_docman_icons
{
    list-style-type: none !important;
}

.module_document {
  padding: 5px 0 5px 0;
}

.koowa_wrapped_content {
  display: inline !important;
  width: auto !important;
  height: auto !important;
}