.map {
	background-color: #fff;
	border-color: #01579b;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	height: 100px;
	/*display: inline-block !important;*/
	display: table-cell;
	border-radius: 4px;
}

.map_wrapper {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
}


.location1 {
	border-top: 2px solid #01579b;
	border-bottom: 2px solid #01579b;
	border-left: 2px solid #01579b;
	border-right: 1px dashed #01579b;
}
.location2 {
	border-top: 2px solid #01579b;
	border-bottom: 2px solid #01579b;
	border-left: 1px dashed #01579b;
	border-right: 1px dashed #01579b;
}
.location3 {
	border-top: 2px solid #01579b;
	border-bottom: 2px solid #01579b;
	border-left: 1px dashed #01579b;
	border-right: 1px dashed #01579b;
}
.location4 {
	border-top: 2px solid #01579b;
	border-bottom: 2px solid #01579b;
	border-right: 2px solid #01579b;
	border-left: 1px dashed #01579b;
}
